* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.index {
    width: 100%;
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.074);
    justify-content: space-between;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.user-icon img {
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    
}

.user-icon {
    margin-left: 15px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: green;
    position: absolute;
    top: 0;
    right: 0;
}

#main-container {
    display: flex;
    padding: 20px;
    /* height: 100%; */
    flex-grow: 1;
    gap: 20px;
    overflow: hidden;
}


.user-list-profile {
    /* width: 45px; */
    border-radius: 50%;
    cursor: pointer;
}
.filter-section {
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
}

.filter-section h3 {
    font-size: 18px;
    /* Size of the heading */
    margin-bottom: 10px;
    /* Space below heading */
    color: #b3b3b3;
}

.filter-section ul {
    list-style: none;
    /* Removes bullet points */
    padding: 0;
    /* Removes padding */
}

.filter-section ul li {
    margin-bottom: 10px;
    /* Space between list items */
    display: flex;
    /* Align checkbox and label */
    align-items: center;
    /* Vertically center */
}

.filter-section ul li input[type="checkbox"] {
    margin-right: 10px;
    /* Space between checkbox and label */
}

.filter-section ul li label {
    font-size: 16px;
    /* Label font size */
    color: #626262;
    /* Label color */
}

#main-content {
    flex-grow: 1;
    overflow: hidden;

    /* margin-right: 150px; */
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
}

.user-profile-post {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    font-weight: 500;
    color: #626262;
}

.user-profile-post img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile-post p {
    font-weight: bolder;
    color: rgba(232, 231, 216, 0.803);
}


textarea {
    margin-bottom: 3%;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    color: white;
}

.post {
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: #626262;
    margin-bottom: 40px;
    /* margin: 20px 0px; */
    /* margin-left: 20px; */
}

.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#post-button-container {
    width: 100%;
}

.activity-icons div img {
    width: 18px;
    margin-right: 15px;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.activity-icons a {
    color: rgba(232, 231, 216, 0.803);
}

.icon {
    font-size: 20px;
    /* Adjust the size as needed */
    margin-right: 10px;
    cursor: pointer;
    color: rgba(232, 231, 216, 0.803);
}

.load-more-button {
    align-self: center;
    margin-top: 50%;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more-button:hover {
    background-color: #626262;
    color: white;
    transition: .3s;
}

.post-button {
    display: block;
    margin-top: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
    margin-left: auto;
    width: 80px;
}

.post-button:hover {
    background-color: #626262;
    color: white;
    transition: .3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    /* Align the dropdown to the right of the image */
    border-radius: 3px;
}

.dropdown-options a,
button {
    color: #626262;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-options a:hover,
button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-options {
    display: block;
}

.post-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-container ul li {
    display: inline-block;
    margin-right: 15px;
    /* Adjust the spacing between checkboxes */
}

.post-container label {
    margin-left: 5px;
    /* Space between checkbox and label text */
}

.user-profile p {
    font-weight: bolder;
    color: rgba(232, 231, 216, 0.803);
}

.post-title-link{
    color: #ffffff;
    text-decoration: none;
}

.post-title-link h2{
    color: rgba(232, 231, 216, 0.803);
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.left-sidebar {
    min-width: 20%; 
    padding: 10px;
    background-color: #333; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
    overflow: scroll;
    border-radius: 10px;
}

.users-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list-profile {
    display: flex;
    align-items: center;
    padding: 5px 0; /* Adjust as needed */
}

.user-icon {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    margin-right: 10px; /* Adjust spacing as needed */
}

.username {
    margin: 0;
    font-size: 16px; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
}

#chat-div {
    background-color: rgba(255, 255, 255, 0.074);
    color: whitesmoke;
    border-radius: 10px;
    height: 100%;
    max-height: 100%;
    padding: 20px;    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#user-info-chat {
    display: flex;
    align-items: center; /* Centers the content vertically */
}

#user-pic {
    width: 30px; /* Adjust as needed */
    height: 30px;
    margin-right: 5px;
}

#user-name-chat {
    margin: 0; /* Removes default margins */
    font-size: 16px; /* Adjust as needed */
    /* No need for further adjustments, as flexbox will center it */
}

#add-post-btn {
    margin-right: 10px;
    margin-top: 10px;

}

.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.604);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.dialog.show {
    display: block;
}
.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.dialog-overlay.show {
    display: block;
}

.comments-section {
    color: whitesmoke;
}

#comment-list {
    color: rgb(129, 129, 129);
}

#add-comment-button {
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

#post-title {
    color: whitesmoke;
}

#post-content {
    color: #626262;
}

.comment-section {
    color: whitesmoke;
}

.hidden {
    display: none;
}

.greeting {
    color: whitesmoke;
    font-size: larger;
    margin-top: 10px;
    margin-left: 10px;
}

#chat-messages {
    overflow-y: scroll;
    width: 100%;
    height: 32%;
}

.chat-message {
    word-wrap: break-word;
}

#typing-status {
    color: grey;
    font-style: italic;
    font-size: 15px;
    position: relative;
    z-index: 1000;
    display: block;
    margin-left: 10px;
    animation: 3s;
}