<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{.Post.Title}}</title>
    <link rel="stylesheet" href="/static/posts.css">
    <link rel="stylesheet" href="/static/indexStyle.css">
</head>

<body>
    <div class="index">
        <nav>
            <a href="/">
                <img src="/static/images/logo.png" class="logo">
            </a>
            <div class="nav-right">
                <div class="dropdown">
                    {{if .LoggedInUser}}
                    <div class="online"></div>
                    {{end}}
                    <div class="user-icon">
                        <img src="/static/images/user.png" class="profile-image">
                    </div>
                    <div class="dropdown-options">
                        {{if .LoggedInUser}}
                        <button id="logoutBtn" onclick="logoutHandler(event)">Logout</button>
                        {{else}}
                        <a href="/login">Register/Login</a>
                        {{end}}
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="post">
                <h1>{{.Post.Title}}</h1>
                <p>{{.Post.Content}}</p>
                <div class="post-info">
                    <p>Posted by {{.Post.Username}} on {{.Post.CreatedDate.Format "2006-01-02 15:04:05"}}</p>
                    <p>{{.Post.Likes}} Likes</p>
                    <p>{{.Post.Dislikes}} Dislikes</p>
                </div>
                <hr>
                <h2>Comments</h2>
                <ul>
                    {{range .Comments}}
                    <li>
                        <p><strong>{{.Username}}:</strong> {{.Content}}</p>
                        <p>{{.CreatedDate.Format "2006-01-02 15:04:05"}}</p>
                        <div class="post-row">
                            <div class="activity-icons">
                                <div>
                                    <a href="/api/comments/{{.ID}}/like">
                                        <i class="fa fa-thumbs-up icon"></i>
                                        {{.Likes}}
                                    </a>
                                </div>
                                <div>
                                    <a href="/api/comments/{{.ID}}/dislike">
                                        <i class="fa fa-thumbs-down icon"></i>
                                        {{.Dislikes}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{end}}
                </ul>
                {{if .LoggedInUser}}
                <form action="/api/posts/{{.Post.ID}}/comments" method="POST">
                    <textarea name="comment" placeholder="Add a comment..."></textarea>
                    <button type="submit">Comment</button>
                </form>
                {{else}}
                <p>
                    <a href="/login">Login to add a comment</a>
                </p>
                {{end}}
            </div>
        </div>
    </div>

</body>
<script src="/js/index.js"></script>
<script src="/js/router.js"></script>
</html>